[defaults]
inventory=/home/ec2-user/ansible/inventory
remote_user=ec2-user
private_key_file=/home/ec2-user/ansible/ansible-key.pem
host_key_checking=false
roles_path=/home/ec2-user/ansible/roles
collection_path=/home/ec2-user/ansible/mycollection:~/.ansible/collections:/usr/share/ansible/collections

[privilege_escalation]
become=true
become_method=sudo
become_user=root
